@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

body {
    /* background-color: black; */
    background: #141E30;
    background: -webkit-linear-gradient(to right, #070c11, #141E30);
    background: linear-gradient(to right, #080c11, #141E30);
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    height: 100%;

}


nav {
    background-color: black;
    color: white;
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.596);
    position: absolute;
    top: 0;
    overflow: auto;
}

.menu {
    display: flex;
    align-items: center;
}

.menu a {
    text-decoration: none;
    margin: 20px;
    color: white;


}


.hamburger{
    display: none;
}


.menu_mobile{
    display: none;
}

.menu a.select_wallet {
    border: 1px solid white;
    padding: 10px 20px;
    background: #141E30;
    background: -webkit-linear-gradient(to right, #243B55, #141E30);
    background: linear-gradient(to right, #243B55, #141E30);

    border-radius: 5px;
}

.menu a.select_wallet:hover {
    border: 1px solid white;
    padding: 10px 20px;
    background: #141E30;
    background: -webkit-linear-gradient(to right, #19283a, #141E30);
    background: linear-gradient(to right, #172636, #141E30);

    border-radius: 5px;
}

.search input {
    width: 250%;
    background-color: black;
    border: 1px solid rgba(255, 255, 255, 0.575);
    outline: none;
    color: white;
    padding: 6px 10px;
    border-radius: 20px;
}

.logo_brief {
    margin-left: 10%;
    display: flex;
    align-items: center;
    gap: 5%;
    margin-top: 100px;
}

.tagline {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 50px;
}

.tagline button {
    padding: 10px 40px;
    background: #141E30;
    background: -webkit-linear-gradient(to right, #243B55, #141E30);
    background: linear-gradient(to right, #243B55, #141E30);
    border-radius: 10px;
    outline: none;
    border: none;
    color: white;

}

.tagline button:hover {
    padding: 10px 40px;
    background: #141E30;
    background: -webkit-linear-gradient(to right, #19283a, #141E30);
    background: linear-gradient(to right, #172636, #141E30);
    border-radius: 10px;

}

.icon_logo {
    filter: invert(100%)
}

.nft_showcase {
    margin: 5% 0px 0px 6%;
    display: flex;
    align-items: center;
}

.nft_showcase .nfts {
    /* background-color: rgba(128, 128, 128, 0.404); */
    width: 75%;
    height: 250px;
    margin-left: 10%;
    display: flex;
    /* flex: 10 0 auto; */
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: auto;

}


/* .nfts::-webkit-scrollbar {
    display: block;
  } */


::-webkit-scrollbar {
    width: 10px;
    height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f100;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(255, 252, 252);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(185, 185, 185);
}

/* .nfts {
    display: flex;
    overflow-x: auto;
  } */


.nft_card {
    height: 200px;
    width: 150px;
    background-color: black;
    margin: 0px 30px;
    border-radius: 10px;
}

.tagline p {
    font-size: 60px;
    font-weight: 200;
}









/* For Mobile Devices */


@media only screen and (max-width:915px) {


    .menu a {
        display: none;
    }
    .menu_mobile{
        display: block;
    }
    .hamburger{
        display: block;
    }
    .search input {
        display: none;
    }






    .logo_brief {
        margin-left: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5%;
        margin-top: 100px;

    }

    .tagline p {
        font-size: 20px;
    }


    .logo_brief img {
        width: 100%;
    }






    .nft_showcase {
        margin: 5% 0px 0px 6%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }





    .nft_showcase .nfts {
        /* background-color: rgba(128, 128, 128, 0.404); */
        width: 50%;
        height: 250px;
        margin-left: 0%;
        display: flex;
        /* flex: 10 0 auto; */
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow-x: auto;

    }

    .nft_card {
        margin: 0px 12px;
    }

    .menu_mobile {
        display: none;
    }

    .menu_options {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .menu_options a {
        text-decoration: none;
        color: white;
        margin: 10% 0%;
    }

    .menu_options input {
        width: 80%;
        margin: 0% 0% 10% 0%;
        background-color: black;
        border: 1px solid rgba(255, 255, 255, 0.575);
        outline: none;
        color: white;
        padding: 5px 10px;
        border-radius: 20px;
    }

    .menu_options a.select_wallet {
        border: 1px solid white;
        padding: 10px 20px;
        background: #141E30;
        background: -webkit-linear-gradient(to right, #243B55, #141E30);
        background: linear-gradient(to right, #243B55, #141E30);
        margin-bottom: 10% ;
        border-radius: 5px;
    }

    .show {
        display: block;
    }

}